<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Dictionary Kamusi With Sheng</title>
    <link rel="stylesheet" href="../styles/color.css">
    <script></script>
  </head>

  <body>
    <main>
    <div id="heading">
      <h1>Dictionary Kamusi With Sheng</h1>
      <i>Triolingo 3-in-1: learn a language using words</i>
    </div>
    <br><br>

    <div class="box">
      <form id="form" role="search">
        <input type="search" name="q" placeholder="google search" id="query" aria-label="Search for words">
        <button><img src="../images/search.png"></button>
      </form>
    </div>
    <br>

    <div>
      <h2>Words starting with I</h2>
      <ul id="nav">
        <li style="display:inline"><a href="../../index.html">A</a></li>
        <li style="display:inline"><a href="e.html">E</a></li>
        <li style="display:inline"><a href="i.html">I</a></li>
        <li style="display:inline"><a href="o.html">O</a></li>
        <li style="display:inline"><a href="u.html">U</a></li>
      </ul>

      <ul id="wordLists">
        <li><a href="../../db/iWords/i.html target="_blank" rel="noopener noreferrer"">i</a></li>
        <li><a href="../../db/iWords/ig.html target="_blank" rel="noopener noreferrer"">ignore</a></li>
        <li><a href="../../db/iWords/im.html target="_blank" rel="noopener noreferrer"">image</a></li>
        <li><a href="../../db/iWords/inc.html target="_blank" rel="noopener noreferrer"">income</a></li>
        <li><a href="../../db/iWords/ind.html target="_blank" rel="noopener noreferrer"">individual</a></li>
      </ul>
    </div>

    <script src="../styles/resp.js"></script>
  </main>
  </body>
</html>
